/* Colors */
/* Fonts */
body {
  margin: 0;
  background-color: #000;
  background-image: url("/img/css.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html {
  height: auto;
}

#name, #address, #city, #phone, #titles {
  text-align: center;
  margin: 0;
}

#bigbox {
  height: 100%;
  width: 950vw;
}

#divone,
#divtwo,
#divthree,
#divfour,
#divfive,
.spacer {
  height: 800px;
  width: 100vw;
  float: left;
  margin: 0;
}

#divone,
#divtwo,
#divthree,
#divfour,
#divfive {
  background-color: #000;
}

.divspacer {
  background-color: transparent;
}

.cell {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  background-color: #000;
  background-image: url(../img/gray_sand.png);
  text-align: center;
  top: 0;
  padding-top: 35px;
}

.cellspacer {
  height: 35px;
  width: 100%;
  margin: 0;
}

.breaker {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px #FFF;
  margin: 10px;
  animation: fadein .5s;
  -webkit-animation: fadein .5s;
}

h1, h4, p {
  color: #FFF;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #FFF;
  animation: fadein 3.5s;
  -webkit-animation: fadein 3.5s;
  font-weight: 100;
}

#summary {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  animation: fadein 10s;
}

p {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: red;
  animation-name: colorhover;
  animation-duration: 0.7s;
}

li:hover {
  color: red;
  animation-name: colorhover;
  animation-duration: 0.7s;
}

h2, h3, h4 {
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 35px;
  background-color: #FFF;
  border-bottom: 1px solid #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#navlist {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.navitem {
  float: left;
  margin: auto 10px;
  font-size: 30px;
  font-weight: 100;
}

.navitem a {
  text-decoration: none;
  color: #000;
}

@keyframes colorhover {
  0% {
    color: #FFF;
  }
  100% {
    color: red;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
